/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

 /* src/App.css */
/* body {
  
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #faf8ef;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 100px);
  grid-gap: 10px;
}

.grid-row {
  display: contents;
}

.grid-tile {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  font-size: 24px;
  border-radius: 5px;
  background-color: lightgray;
}

.tile-2 { background-color: #eee4da; }
.tile-4 { background-color: #ede0c8; }
.tile-8 { background-color: #f2b179; }
.tile-16 { background-color: #f59563; }
.tile-32 { background-color: #f67c5f; }
.tile-64 { background-color: #f67c5f; }
.tile-128 { background-color: #f9dc60; }
.tile-256 { background-color: #f9dc60; }
.tile-512 { background-color: #e5e58b; }
.tile-1024 { background-color: #edc86f; }
.tile-2048 { background-color: #edc86f; }
 */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #faf8ef;
}

.App {
  padding-top: 80px;
  padding-bottom: 50px;
}

