

 .App {
  font-family: sans-serif;
  text-align: center;
  /* display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 40px; 
  background-color: lightgrey; */

} 

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.game-board {
  background-color:slategrey;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  padding: 8px;
  width: 100%;
  margin: auto; /* Center it horizontally */
  border-radius: 8px;
}

.row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 15px;
  padding: 8px;
  height: 100px;
}

.cell {
  /* padding: 10px; */
  padding: 5px;
  font-size: 55px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:rgba(238, 228, 218, 0.35);
  border-radius: 3px;
  color: slategray;
}
.cell-2 {
  background-color: #eee4da;
}

.cell-4 {
  background-color: #ede0c8;
}

.cell-8 {
  background-color: #f2b179;
  color: white;
}

.cell-16 {
 color: #f9f6f2;
    background: #f59563;
}

.cell-32 {
     color: #f9f6f2;
    background: #f67c5f;
}

.cell-64 {
  background-color: burlywood;
}

.cell-128 {
 color: #f9f6f2;
    background: #f65e3b;
}

.cell-256 {
  background-color: rebeccapurple;
}

.cell-512 {
  background-color: cyan;
}

.cell-1024 {
  background-color: gold;
}

.cell-2048 {
  background-color: aquamarine;
}

.new-game-btn {
  padding: 10px 20px;
  font-size: 18px;
  background-color: #8f7a66;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.score-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%; /* Adjust width as needed */
  max-width: 600px; /* Prevents excessive stretching */
  margin: auto; /* Centers the container */
  padding: 10px;
  background-color: #f5f5f5;
  border-radius: 10px;
}

.title-2048 {
  margin: 0;
  font-size: 55px;
  font-weight: bold;
}

.title-2048 a {
  color: slategray;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}

 /* .scores {
  display: flex;
  gap: 15px; 
}  */

.score,
.best-score {
  position: relative;
  display: inline-block;
  background-color: slategray;
  padding: 15px 20px;
  font-size: 20px;
  height: 35px;
  line-height: 28px;
  font-weight: bold;
  border-radius: 5px;
  color: white;
  text-align: center;
  min-width: 120px; 
  gap:15px;
}

.game-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%; /* Adjust width as needed */
  max-width: 600px; /* Prevents excessive stretching */
  margin: auto; /* Centers the container */
  padding: 10px;
}


.text-container {
  display: flex;
  flex-direction: column; /* Stacks heading and paragraph */
  text-align: justify;
  
}

.game-header h1 {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
  color: slategray;
}

.game-header p {
  margin: 5px 0 0;
  font-size: 16px;
  color: slategray;
}

.new-game-btn {
  background-color: slategray;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;

}
.popup button {
  margin-top: 10px;
  padding: 10px;
  cursor: pointer;
  background-color:#8f7a66;
  color: white;
  font-weight: bold;
}
.main-cont{
   width: 500px;
   display: block;
   margin: auto;
   margin-top: 20px;
 }
/* 
 @media (max-width:786px) {
  .game-board{
    width: 80%;
  }
  
 } */
 @media (max-width: 767px) {
  .main-cont, .game-board {
    max-width: 280px;
  }

  .score-container {
        max-width: 100%;
        gap: 10px;
        justify-content: unset;
    }

     .score, .best-score {
        font-size: 12px;
        display: flex
;
        align-items: center;
        justify-content: center;
        height: 30px;
        min-width: 80px;
        padding: 10px;
    }
  .game-header {
    /* flex-direction: column; */
    align-items: center;
    text-align: center;
  }

  .text-container {
    width: 60%;
  }

  .game-header h1 {
    font-size: 14px;
  }

  .game-header p {
    font-size: 12px; 
    text-align: left;
  }

  .new-game-btn {
    font-size: 12px;
    padding: 6px 12px;
  }
  .row {
    grid-gap: 8px;
    height: 65px;
  }
  .cell {
    font-size: 40px;
  }
  .title-2048 {
    /* margin: 0; */
    font-size: 30px;
    /* font-weight: bold; */
}

}
